// mod-data-img

.mod-data-img {
    .title {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $clr-secondary;
        transition: all 0.5s ease-in-out;
        max-width: 60rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        font-family: $font2-reg;
        cursor: pointer;

        .cm-line-break {
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            color: #16302E;

            .cm-line-break {
                border-bottom-color: $clr-primary;
            }

            .img-wrap {
                img {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .img-wrap {
            width: 26.8rem;
            overflow: hidden;
            position: absolute;
            right: -32rem;
            bottom: -3rem;

            img {
                width: 100%;
                opacity: 0;
                transform: translateY(100%);
                display: block;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .foot-note {
        color: $clr-base-light;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 0.8rem;
        font-family: $font2-md;
        letter-spacing: -0.6px;
    }
}