html {
    font-size: 10px;

    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        font-size: 8px;
    }

    @media only screen and (min-width: 1367px) and (max-width: 1599px) {
        font-size: 9px;
    }
}

button {
    &:focus {
        outline: none;
    }
}


body {
    font-family: $font1;
    background: $clr-white;
    font-size: 1.8rem;
    // letter-spacing: -0.5px;
    overflow-x: hidden !important;
    width: 100%;
    color: $clr-primary;
}

img {
    width: 100%;
}

.g-container {
    max-width: 142rem;
    margin: 0 auto;

    @media only screen and (max-width:1280px) {
        max-width: 90%;
    }
}

.bot-mar {
    margin-bottom: 6.5rem!important;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.main {
    width: 100%;
}

.btn {
    display: inline-flex;
    align-items: center;
    font-weight: $font-semibold;
    font-size: 2.4rem;
    letter-spacing: -0.4px;

    .icon {
        margin-left: 0.8rem;
        transition: all 0.4s;
    }

    &:hover {
        .icon {
            transform: translateX(1.1rem);
        }
    }

}

.cm-line-break {
    display: block;
}

.cm-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    .upper-half,
    .lower-half {
        height: 50vh;
        position: absolute;
        background-color: $clr-primary;
        transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .upper-half {
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
    }
    .lower-half {
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
    }
    .logo {
        width: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: opacity 0.4s ease;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            transform: translateX(-100%);
            opacity: 0;
            transition: transform 0.8s cubic-bezier(0.65, 0.05, 0.36, 1),opacity 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
        }
        &.reveal {
            img {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 0%;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 0.2rem;
        background-color: $clr-white;
        transition: width 0.5s ease;
        z-index: 1;
        animation: borderline 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) forwards 0.4s;
    }
    &:after {
        content: '';
        position: absolute;
        left: 60%;
        width: 0%;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 0.2rem;
        background-color: $clr-white;
        transition: width 0.5s ease;
        z-index: 1;
        animation: borderline 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) forwards 2.4s;
    }
    &.active {
        .upper-half {
            transform: translateY(0%);
        }
        .lower-half {
            transform: translateY(0%);
        }
        &:before,
        &:after {
            opacity: 1;
        }
    }
}

@keyframes borderline {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

.set-bg {
    background-size: cover;
    background-repeat: none;

    .fetch-img-src {
        display: none;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.2s ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 20;
    }
}