<div class="cp-section">
    <div class="sec-bg-wrap typ-2">
    </div>
    <div class="sec-head">
        <div class="g-container">
            <h1 class="title">NEWS</h1>
            <h2 class="subtitle">MoD NEWS & EVENTS</h2>
        </div>
    </div>
    <div class="sec-cont">
        <div class="g-container">
            <div class="cp-tabs">
                <div class="tab-head">
                    <ul class="tab-list">
                        <li class="tab-item active" data-id="news">News</li>
                        <li class="tab-item" data-id="events">Events</li>
                        <li class="tab-item" data-id="updates">Updates</li>
                        <li class="tab-item" data-id="press">Press Releases</li>
                    </ul>
                </div>
                <div class="tab-cont">
                    <div class="tab-wrap active" id="news">
                        <ul class="event-list">
                            <li class="event-item">
                                <div class="mod-data-img">
                                    <h3 class="title">
                                        <span class="cm-line-break">Deputy Minister of Defense Meets with UK Foreign Secretary</span>
                                    </h3>
                                    <div class="img-wrap">
                                        <img src="assets/images/tab-1.jpg" alt="event">
                                    </div>
                                    <p class="foot-note">3rd June 2020  //  News</p>
                                </div>
                            </li>
                            <li class="event-item">
                                <div class="mod-data-img">
                                    <h3 class="title">
                                        <span class="cm-line-break">The Joint Forces Command of the Coalition to Restore Legitimacy in</span>
                                        <span class="cm-line-break">Yemen</span>
                                    </h3>
                                    <div class="img-wrap">
                                        <img src="assets/images/tab-1.jpg" alt="event">
                                    </div>
                                    <p class="foot-note">3rd June 2020  //  News</p>
                                </div>
                            </li>
                            <li class="event-item">
                                <div class="mod-data-img">
                                    <h3 class="title">
                                        <span class="cm-line-break">Joint maneuvers (Samsam 7) between Royal Saudi Land Forces and</span>
                                        <span class="cm-line-break">Pakistani Land Forces concluded</span>
                                    </h3>
                                    <div class="img-wrap">
                                        <img src="assets/images/tab-1.jpg" alt="event">
                                    </div>
                                    <p class="foot-note">3rd June 2020  //  News</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-link">
                            <span class="text">VIEW MORE</span>
                            <span class="icon icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>