.swiper-container {

    &.banner-slider {
        width: 40rem;
        padding-bottom: 7rem;

        .swiper-pagination {
            width: auto;
            bottom: 0;
            padding-left: 3rem;

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.5);
                position: relative;
                width: 9rem;
                border-radius: 3px;
                height: 0.4rem;
                opacity: 1;
                overflow: hidden;
                margin-left: 0;
                display: inline-block;

                +.swiper-pagination-bullet {
                    margin-left: 1.4rem;
                }

                &:before {
                    content: "";
                    background: $clr-white;
                    position: absolute;
                    bottom: 0%;
                    left: 0px;
                    width: 100%;
                    height: 0.4rem;
                    display: block;
                    -webkit-transform-origin: right top;
                    -ms-transform-origin: right top;
                    transform-origin: right top;
                    -webkit-transform: scale(0, 1);
                    -ms-transform: scale(0, 1);
                    transform: scale(0, 1);
                    -webkit-transition: transform 5s cubic-bezier(1, 0, 0, 1);
                    transition: transform 8s cubic-bezier(1, 0, 0, 1);
                    transition: transform 1s ease-in-out;
                }

                &.swiper-pagination-bullet-active {
                    &:before {
                        -webkit-transform-origin: left top;
                        -ms-transform-origin: left top;
                        transform-origin: left top;
                        -webkit-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        transform: scale(1, 1);
                        transition: transform 8s ease-in-out;
                    }

                    ~.swiper-pagination-bullet {
                        &:before {
                            right: 0;
                            left: inherit;
                        }
                    }
                }
            }
        }

        .swiper-slide {
            margin-top: 7rem;
        }
    }
}