
@font-face {
        font-family: 'SFProText-Regular';
        src: url('../fonts/SFProText-Regular.eot');
        src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
                url('../fonts/SFProText-Regular.woff') format('woff'),
                url('../fonts/SFProText-Regular.ttf') format('truetype'),
                url('../fonts/SFProText-Regular.svg#svgFontName') format('svg');
}

@font-face {
        font-family: 'SFProText-Medium';
        src: url('../fonts/SFProText-Medium.eot');
        src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
                url('../fonts/SFProText-Medium.woff') format('woff'),
                url('../fonts/SFProText-Medium.ttf') format('truetype'),
                url('../fonts/SFProText-Medium.svg#svgFontName') format('svg');
}


@font-face {
        font-family: 'SFProText-Bold';
        src: url('../fonts/SFProText-Bold.eot');
        src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
                url('../fonts/SFProText-Bold.woff') format('woff'),
                url('../fonts/SFProText-Bold.ttf') format('truetype'),
                url('../fonts/SFProText-Bold.svg#svgFontName') format('svg');
}