@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?j3mlau');
  src: url('../fonts/icomoon.eot?j3mlau#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j3mlau') format('truetype'),
    url('../fonts/icomoon.woff?j3mlau') format('woff'),
    url('../fonts/icomoon.svg?j3mlau#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e900";
}

.icon-right-arrow:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}