.cp-banner {
    position: relative;
    min-height: 94vh;



    .banner-slider-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24rem;
    }

    @media only screen and (max-width:1024px) {
        margin-top: 22%;
    }

    .background-wrap {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        padding-bottom: 56.25%;
        background: url(../images/video-background.jpg) top center no-repeat;
        background-size: cover;

        video {
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
        }

        .video-wrap {

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }
        }

        .bg-img {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../images/video-background.jpg) top center no-repeat;
            background-size: cover;
        }
    }

    .title {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: $font-semibold;
        margin: 0;
    }

    .desc-wrap,
    .title,
    .btn,
    .subtitle,
    .title-wrap,
    .subtitle-wrap,
    .desc-wrap {
        position: relative;
    }

    .subtitle {
        font-size: 5rem;
        color: $clr-white;
        line-height: 5.4rem;
        font-weight: $font-semibold;
        margin-bottom: 2rem;
    }

    .desc {
        margin-bottom: 2rem;
        font-family: $font2-reg;
        line-height: 1.3;
    }

    .swiper-container {
        margin-left: -3rem;
    }

    .swiper-slide {
        color: $clr-white;
        padding-left: 3rem;

        .title,
        .subtitle,
        .desc,
        .btn {
            transform: translateX(-3rem);
            transition: all 0.5s ease;
            opacity: 0;
        }


        &.swiper-slide-active {

            .title,
            .subtitle,
            .desc,
            .btn {
                transform: translateX(0);
                opacity: 1;
            }

            .title {
                transition-delay: 0.5s;
            }

            .subtitle {
                transition-delay: 0.6s;
            }

            .desc {
                transition-delay: 0.7s;
            }

            .btn {
                transition-delay: 0.8s;
            }
        }

        // .title,
        // .subtitle,
        // .desc,
        // .btn {
        //     transform: translateX(-3rem);
        //     transition: all 0.3s ease;
        //     opacity: 0;
        // }


        // &.swiper-slide-active {

        //     .title,
        //     .subtitle,
        //     .desc,
        //     .btn {
        //         transform: translateX(0);
        //         opacity: 1;
        //     }

        //     .title {
        //         transition-delay: 0.2s;
        //     }

        //     .subtitle {
        //         transition-delay: 0.4s;
        //     }

        //     .desc {
        //         transition-delay: 0.5s;
        //     }

        //     .btn {
        //         transition-delay: 0.6s;
        //     }
        // }
    }
}