.cp-header {
    padding-top: 4.7rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: all 0.5s ease;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    .colored-logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        color: $clr-white;
        align-items: center;
        height: 8rem;
        position: relative;

        .left-wrap,
        .navbar {
            display: flex;
            align-items: center;
            font-weight: $font-semibold;
        }

        .navbar {
            text-transform: uppercase;

            .item {
                +.item {
                    margin-left: 2.5rem;
                }
            }
        }

        .user-profile,
        .search-wrap {
            margin-left: 2.5rem;

            .icon {
                &:before {
                    font-weight: bold;
                }
            }
        }

        .logo {
            position: absolute;
            // top: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            overflow: hidden;
            width: 22rem;
            height: 8rem;
            text-align: center;

            img {
                max-height: 8rem;
                width: auto;
                display: block;
                margin: 0 auto;
            }

            a {
                transition: all 0.4s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }

            .white {
                opacity: 1;
            }

            .dark {
                opacity: 0;
            }
        }


        .menu-btn {
            cursor: pointer;
            padding: 0.8rem;
        }

    }

    &.typ-white {
        padding-top: 0;
        background-color: $clr-white;
        position: fixed;
        transition: all 0.5s ease;
        border-color: #f0f2f3;
        .colored-logo {
            display: block;
        }

        .white-logo {
            display: none;
        }

        header {
            height: 6.8rem;
            color: $clr-secondary;

            .logo {
                height: 5rem;

                img {
                    height: 5rem;
                }

                .white {
                    opacity: 0;
                }

                .dark {
                    opacity: 1;
                }
            }
        }
    }
}