// cp-footer

.cp-footer {
    background-color: #1f3c3a;
    padding: 10rem 0 6rem;
    position: relative;

    .foot-wrap {
        padding: 0 12rem 8rem;
        border-bottom: 1px solid $clr-white;
        display: flex;
        position: relative;

        .logo-wrap {
            width: 7.5rem;
            margin-left: auto;

            img {
                width: 100%;
            }
        }
    }

    .foot-col {
        min-width: 22rem;
        margin-right: 2.4rem;
    }

    .nav-title {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 1.5rem;
        font-weight: $font-bold;
        color: $clr-white;
        letter-spacing: 1px;
    }

    .nav-list {
        margin-bottom: 2.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .nav-item {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .nav-link {
        color: $clr-white;
        opacity: 0.5;
        transition: all 0.5s ease;
        position: relative;

        .text {
            display: inline-block;
            transition: all 0.5s ease;
        }

        &:before {
            content: "";
            top: 2px;
            left: 0;
            width: 0;
            position: absolute;
            bottom: 2px;
            transition: all 0.5s ease;
            background: $clr-white;
        }

        &:hover {
            opacity: 1;

            &:before {
                width: 3px;
            }

            // padding-left: 0.8rem;

            .text {
                transform: translateX(1rem);
            }
        }
    }

    .copyright-wrap {
        padding: 3rem 12rem 0;
        position: relative;

        p {
            font-size: 1.4rem;
            line-height: 2rem;
            color: $clr-white;
            margin-bottom: 0.5rem;
            opacity: 0.8;

            .link {
                color: rgba(255, 255, 255, 0.45);
                display: inline-block;
                margin-left: 0.3rem;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .sec-bg-wrap {
        position: absolute;
        top: -5rem;
        right: 0;
        left: 0;
        height: 10rem;
        z-index: 0;
        overflow: hidden;
        transform: skewY(-3deg);
        background-color: #1f3c3a;
    }
}