// cp-menu

.cp-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
    transition: all 0.4s ease;

    .menu-head {
        top: 4.7rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        color: $clr-white;
        align-items: center;
        height: 8rem;
        position: absolute;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease;
        pointer-events: none;

        * {
            pointer-events: none;
        }

        .logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                max-height: 8rem;
                width: auto;
            }
        }

        .close-btn {
            cursor: pointer;
            padding: 0.8rem;
            margin-left: auto;
            pointer-events: initial;
        }

        .g-container {
            width: 100%;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    .menu-list {
        display: flex;
        height: 100%;
        align-items: center;

        .menu-col {
            padding: 0 5rem 0 8rem;
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            justify-content: center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            transform: translateY(-100%);
            transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), width 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
            @media only screen and (max-width:1599px) {
                padding: 0 3rem 0 6rem;
            }

            @media only screen and (max-width:1280px) {
                padding: 0 0rem 0 4rem;
            }

            @media only screen and (max-width:1024px) {
                padding: 0 0rem 0 2rem;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.67);
            }

            &:before {
                content: '';
                background-color: #29504d;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                opacity: 0;
                transition: opacity 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
            }

            &.ministry {
                background-image: url('../images/ministry-bg.jpg');
                // background-image: url('../images/service-bg.jpg');
            }

            &.forces {
                background-image: url('../images/forces-bg.jpg');
                // background-image: url('../images/service-bg.jpg');
            }

            &.service {
                background-image: url('../images/services-bg.jpg');
            }

            &.career {
                background-image: url('../images/career-bg.jpg');
                // background-image: url('../images/service-bg.jpg');
            }

            &.hover-bg {
                &:before {
                    opacity: 1;
                }
                .nav-link {
                    white-space: nowrap;
                }
            }
        }
    }

    .nav-wrap {
        position: relative;
        z-index: 5;
        min-height: 48rem;

        &.hidelinks {
            .nav-title {
                color: rgba($color: $clr-white, $alpha: 0.5);
            }

            .nav-list {
                opacity: 0;
            }

            .nav-link {
                white-space: nowrap;
            }
        }

        &.reveallinks {
            .nav-title {
                animation: reveallink 0.3s forwards ease-in;
            }

            li {
                animation: reveallink 0.3s forwards ease-in;

                &:nth-of-type(1) {
                    animation-delay: 0.1s;
                }

                &:nth-of-type(2) {
                    animation-delay: 0.2s;
                }

                &:nth-of-type(3) {
                    animation-delay: 0.3s;
                }

                &:nth-of-type(4) {
                    animation-delay: 0.4s;
                }

                &:nth-of-type(5) {
                    animation-delay: 0.5s;
                }

                &:nth-of-type(6) {
                    animation-delay: 0.6s;
                }

                &:nth-of-type(7) {
                    animation-delay: 0.7s;
                }

                &:nth-of-type(8) {
                    animation-delay: 0.8s;
                }
            }
        }
    }

    .nav-title {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 6.5rem;
        color: rgba($color: $clr-white, $alpha: 1.0);
        font-weight: $font-semibold;
        letter-spacing: 2px;
        opacity: 0;
        transition: color 0.4s ease-in-out;
    }

    .nav-list {
        margin-bottom: 6.5rem;
        opacity: 1;
        transition: opacity 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .nav-item {
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.5px;
        opacity: 0;

        // transition: opacity 0.4s ease-in;
        // &.reveal {
        //     opacity: 1;
        // }
        .nav-link {
            color: $clr-white;
            display: inline-block;
            transition: margin 0.4s ease,opacity 0.4s ease;
            opacity: 0.7;
            position: relative;
            white-space: initial;
            padding-bottom: 0.8rem;
            margin-bottom: 0.7rem;
            &:before {
                content: '';
                position: absolute;
                bottom: 0rem;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $clr-white;
                transition: width 0.4s ease-in-out;
            }

            &:hover {
                margin-bottom: 2.8rem;
                opacity: 1;

                &:before {
                    width: 100%;
                }
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease;

        .menu-head {
            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        .menu-col {
            &.down {
                transform: translateY(0%);
            }
        }
    }
}

@keyframes reveallink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}