// .cp-discover {
//     // .swiper-container {
//     //     width: 142rem;
//     // }

//     .swiper-slide {
//         width: 21.5rem;
//         padding-top: 5rem;
//         opacity: 0.5;
//         transition: all 1s ease;
//         height: 45.3rem;
//         cursor: pointer;

//         &.selected {
//             width: 43rem;
//             opacity: 1;
//             padding-top: 0;
//             transition-delay: 0.1s;
//             padding-right: 8rem;

//             .desc-wrap {
//                 opacity: 1;
//                 transition-delay: 1s;
//                 visibility: visible;
//             }

//             .title {
//                 font-size: 4rem;
//                 line-height: 1;
//                 transition-delay: 0.5s;
//             }

//             .img-wrap {
//                 max-width: 15rem;
//                 transition-delay: 0.5s;
//             }
//         }

//         &:hover {
//             opacity: 1;
//         }
//     }

//     .img-wrap {
//         max-width: 9rem;
//         margin-bottom: 3rem;
//         transition: all 0.5s ease;
//     }

//     .title {
//         font-size: 2rem;
//         margin-bottom: 2.2rem;
//         line-height: 1;
//         transition: all 0.5s ease;
//         font-weight: $font-semibold;
//     }

//     .desc-wrap {
//         opacity: 0;
//         visibility: hidden;
//         transition: all 0.5s ease;
//         line-height: 1.17;
//         font-size: 1.7rem;

//         .desc {
//             font-family: $font2-reg;
//             margin-bottom: 2rem;

//             &:last-child {
//                 margin-bottom: 4rem;
//             }
//         }
//     }

// }



.cp-discover {
    display: flex;

    .discover-item {
        width: 20%;
        position: relative;
        cursor: pointer;

        .item-wrap {
            padding: 0;
            opacity: 0.5;
            transform: scale(0.6);
            transition: all 0.5s ease;
        }

        .img-wrap {
            max-width: 13rem;
            margin-bottom: 2.5rem;
        }

        .desc-wrap {
            transition: all 0.5s ease;
        }

        .title {
            font-size: 2.7rem;
            line-height: 1;
            font-weight: $font-semibold;
            transition-delay: 0.5s;
            margin-bottom: 1.5rem;
        }

        .desc-wrap {
            font-size: 1.6rem;
            opacity: 0;
            line-height: 2rem;
            font-family: $font2-reg;

            .desc {
                margin-bottom: 1.5rem;
            }

            .btn {
                font-family: $font1;
                font-size: 2rem;
            }
        }

        &:hover {
            .item-wrap {
                opacity: 1;
            }
        }

        &.selected {
            .item-wrap {
                opacity: 1;
                // background-color: rgba(255, 207, 207, 0.1);
                transform: scale(1);
                // box-shadow: 0 3px 124px rgba(0, 0, 0, 0.15);
            }

            .desc-wrap {
                opacity: 1;
            }
        }
    }

}