.cp-career {
    display: flex;
    justify-content: center;

    .col-items {
        margin: 0 0.6rem;
        display: flex;
        flex-direction: column;
        font-weight: $font-semibold;
        font-size: 2.8rem;
    }

    .col-wrap {
        display: flex;
    }

    .col-1 {
        align-items: flex-end;

        .title {
            font-size: 3.5rem;
            line-height: 1;
            font-weight: $font-semibold;
        }

        .user-wrap {
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin-bottom: 5.5rem;
            margin-top: 1.5rem;
        }

        .designation {
            font-weight: $font-semibold;
        }

        .card-dark {
            width: 45rem;
            height: 45rem;
        }

        .btn {
            font-size: 2.2rem;
        }
    }

    .card-dark {
        overflow: hidden;
        padding: 5rem;
        position: relative;
        // transition: all 0.4s ease;
        box-shadow: 0 0 0 #ccc;
        cursor: pointer;

        .quote {
            display: block;

            img {
                max-width: 3.6rem;
            }
        }

        .bg-img-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            transition: all 0.5s ease;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                transition: all 0.3s ease-in;
                background: rgba(0, 0, 0, 0.4);
            }
        }

        .info-wrap {
            z-index: 1;
            position: relative;
            color: $clr-white;

            .name {
                font-family: $font2-reg;
                font-weight: normal;
            }

            .designation {
                font-family: $font2-bold;
            }
        }

        &:hover {
            box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.25);

            .bg-img-wrap {
                transform: scale(1.1);

                &:before {
                    opacity: 1;
                }
            }
        }

        &.animation-1 {
            .info-wrap {
                transition: all 0.4s ease;
            }

            &:hover {
                .info-wrap {
                    text-shadow: 0 0 3px #000;
                    //   transition-delay: 0.2s;
                    transform: translateY(-1.5rem) scale(1.05);
                }
            }
        }
    }

    .card-white {
        padding: 1.8rem 1.6rem;
        width: 21.4rem;
        height: 21.4rem;
        background: $clr-white;
        line-height: 3.2rem;
        margin: 1.2rem 0;
        position: relative;
        box-shadow: 0 0 0 #ccc;
        transition: box-shadow 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
        }
        .note {
            color: $clr-base-light;
        }

        .count {
            line-height: 1.2;
            color: $clr-primary;
            margin: 0.3rem 0;

            .number {
                font-size: 6.5rem;
            }

            .unit {
                margin-left: 0.6rem;
            }
        }
    }

    .col-2 {
        margin-top: 7.5rem;
        align-items: flex-end;

        .card-dark {
            width: 31.4rem;
            padding-top: 31rem;
            height: 46.7rem;
        }
    }

    .col-3 {
        margin-top: 2rem;

        .card-dark {
            padding-top: 31rem;
            width: 33.8rem;
            height: 48.2rem;
        }
    }
}