// cp-tabs

.cp-tabs {
    .tab-head {
        position: relative;
        margin: 0 24rem 10rem;
    }

    .tab-list {
        display: flex;
    }

    .slide-me {
        position: absolute;
        height: 2px;
        width: 4rem;
        transition: all 0.3s ease;
        background: $clr-primary;
    }

    .tab-item {
        margin-right: 3rem;
        font-size: 2.4rem;
        line-height: 2.6rem;
        color: $clr-primary;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        position: relative;
        overflow: hidden;
        font-weight: $font-semibold;
        cursor: pointer;

        &:last-of-type {
            margin-right: 0;
        }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     right: 100%;
        //     height: 2px;
        //     background: $clr-primary;
        // }

        // &.active {
        //     &:before {
        //         right: 0;
        //     }
        // }
    }

    .tab-cont {
        padding: 1rem 0;

        .tab-wrap {
            display: none;

            &.active {
                display: block;
            }
        }

        .event-list {
            margin-bottom: 4.5rem;
            padding: 0 17rem;
        }

        .btn-link {
            // font-size: 2.4rem;
            // color: $clr-primary;
            // font-weight: $font-semibold;
            margin-left: 24rem;
        }

        .event-item {
            padding: 0 6.8rem 2rem;
            border-bottom: 2px solid rgba($color: $clr-base-light, $alpha: 0.5);
            margin-bottom: 3rem;
            position: relative;

            &:last-of-type {
                border-bottom-color: 0;
                margin-bottom: 0;
            }
        }
    }
}