.cp-section {
    padding: 15rem 0;
    position: relative;

    .scroll-btn {
        position: absolute;
        z-index: 5;
        top: -3.2rem;
        padding: 0 1rem;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%) translateY(0%);
        animation: scrolldown 0.8s ease infinite;

        img {
            width: 100%;
        }

        // &:hover {
        //     transform: translateX(-50%) translateY(12%);
        // }
    }

    .sec-head {
        position: relative;
        z-index: 1;
        margin: 0 24rem;
        transition: all 0.2s;

        .title {
            font-size: 2rem;
            font-weight: $font-bold;
            color: $clr-base-light;
            margin: 0;
            position: relative;
        }

        .subtitle {
            font-size: 5rem;
            line-height: 5.4rem;
            font-weight: $font-bold;
            color: $clr-secondary;
            margin: 1.3rem 0;
            position: relative;

            .cm-line-break {
                position: relative;
            }
        }

        // .btn {
        //     font-size: 2.4rem;
        // }

        &.typ-2 {
            margin: 0 0 0 20%;
        }
    }

    .sec-cont {
        padding: 7rem 0 0;
        position: relative;
        z-index: 1;
    }

    &.typ-white {
        color: $clr-white;

        .sec-head {
            .title {
                font-size: 2rem;
                font-weight: $font-bold;
                color: rgba(255, 255, 255, 0.5);
            }

            .subtitle {
                font-size: 5rem;
                color: $clr-white;
            }
        }
    }

    .sec-bg-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        transform: skewY(-3deg);
        background: #222;

        .img-wrap {
            background-size: cover !important;
            position: absolute;
            top: -5rem;
            right: 0;
            bottom: -5rem;
            left: 0;
            transform: skewY(3deg);
            opacity: 0;
            transition: all 0.5s ease;

            &.active {
                opacity: 1;
                animation-name: scaleBg;
                animation-iteration-count: infinite;
                animation-duration: 60s;
            }

            &.item-1 {
                background: url(../images/discover-bg-1.png) top center no-repeat;
            }

            &.item-2 {
                background: url(../images/discover-bg-2.jpg) top center no-repeat;
            }

            &.item-3 {
                background: url(../images/discover-bg-3.jpg) top center no-repeat;
            }

            &.item-4 {
                background: url(../images/discover-bg-4.png) top center no-repeat;
            }

            &.item-5 {
                background: url(../images/discover-bg-5.jpg) top center no-repeat;
            }
        }


        &.typ-1 {
            background: #e4e4e0;
        }

        &.typ-2 {
            background: $clr-white;
        }
    }
}

@keyframes scaleBg {
    0% {
        transform: scale(1) translateX(0) skewY(3deg);
    }

    50% {
        transform: scale(1.1) translateX(40px) skewY(3deg);
    }

    100% {
        transform: scale(1) translateX(0) skewY(3deg);
    }
}

@keyframes scrolldown {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(6%);
    }

    50% {
        transform: translateY(12%);
    }

    75% {
        transform: translateY(6%);
    }

    100% {
        transform: translateY(0%);
    }
}