//box-shadow
@mixin box-shadow($left, $top, $radius, $color) {
    box-shadow: $left $top $radius $color;
    -webkit-box-shadow: $left $top $radius $color;
    -moz-box-shadow: $left $top $radius $color;
}

//transition
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

//border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}


/*asif*/

@mixin opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}


/*asif end*/

//input-placeholder 
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin media($point) {
    @if $point==xs {
        @media (max-width: $media-xs) {
            @content;
        }
    }

    @else if $point==sm {
        @media (min-width: $media-xs) {
            @content;
        }
    }

    @else if $point==md {
        @media (min-width: $media-md) {
            @content;
        }
    }

    @else if $point==lg {
        @media (min-width: $media-lg) {
            @content;
        }
    }

    @else if $point==xl {
        @media (min-width: $media-xl) {
            @content;
        }
    }
}

// //vw calculator
// @function get-vw($target) {
//     $vw-context: (1280*.01) * 1px;
//     $test: ($target/$vw-context) * 1vw;
//     @return $test;
// }