/* colors */

$clr-white:#ffffff;
$clr-black:#000000;
$clr-primary:#29504d;
$clr-secondary:#647378;
$clr-base-light:#b2bec4;

/*font family*/

$font1:'Barlow Semi Condensed',
sans-serif;
$font2-reg:'SFProText-Regular';
$font2-md:"SFProText-Medium";
$font2-bold:"SFProText-Bold";

$font-regular:400;
$font-light:300;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$media-xs:1200px;
$media-md:992px;
$media-lg:768px;
$media-xl:576px;