<div class="cp-footer">
    <div class="sec-bg-wrap"></div>
    <div class="g-container">
        <div class="foot-wrap">
            <div class="foot-col" data-bottom-top="opacity:0" data-100p-top="opacity:1">
                <h2 class="nav-title">MINISTRY</h2>
                <ul class="nav-list">
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Vision
                                & Mission</span></a>
                    </li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Strategy</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Leadership</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Alliances</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">News</span></a></li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Media Center</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Press</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Contact</span></a></li>
                </ul>
            </div>
            <div class="foot-col" data-bottom-top="opacity:0" data-80p-top="opacity:1">
                <h2 class="nav-title">CAREERS</h2>
                <ul class="nav-list">
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Work at the MoD</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Jobs</span></a></li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Login</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Create Profile</span></a></li>
                </ul>
            </div>
            <div class="foot-col" data-bottom-top="opacity:0" data-60p-top="opacity:1">
                <h2 class="nav-title">FORCES AND DEPARTMENTS</h2>
                <ul class="nav-list">
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">The Presidency of the
                                Staff</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Joint Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Royal Saudi Land
                                Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Royal Saudi Air
                                Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Royal Saudi Naval
                                Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Royal Saudi Air Defence
                                Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Royal Saudi Strategic Missiles
                                Forces</span></a></li>
                    <li class="nav-item" data-bottom-top="transform:translateX(-10px); opacity:0"
                        data-90p-top="transform:translateX(0); opacity:1"><a href="#" class="nav-link"><span
                                class="text">Military Industries
                                Corporation</span></a></li>
                </ul>
            </div>
            <div class="logo-wrap" data-bottom-top="opacity:0; transform:scale(0.6)"
                data-40p-top="opacity:1; transform:scale(1)">
                <img src="assets/images/foot-logo.png" alt="logo">
            </div>
        </div>
        <div class="copyright-wrap">
            <p>Copyright Ministry of Defense, Saudi Arabia. All Rights Reserved.</p>
            <p>Read our <a href="#" class="link">Privacy Policy</a></p>
        </div>
    </div>
</div>