<div class="cp-header" id="header">
    <div class="g-container">
        <header>
            <div class="left-wrap">
                <ul class="navbar">
                    <li class="item"><a href="javascript:void(0)">Home</a></li>
                    <li class="item"><a href="javascript:void(0)">APPLY NOW</a></li>
                </ul>
                <div class="user-profile">
                    <span class="user-btn">
                        <span class="icon icon-user"></span>
                    </span>
                </div>
                <div class="search-wrap">
                    <span class="search-btn">
                        <span class="icon icon-search"></span>
                    </span>
                </div>
            </div>

            <div class="logo">
                <a href="#"><img src="assets/images/white-logo.png" class="white-logo" alt="logo">
                    <img src="assets/images/colored-logo.png" class="colored-logo" alt="logo"></a>
            </div>
            <span class="menu-btn">
                <span class="icon icon-menu">
                </span>
            </span>
        </header>
    </div>
</div>
<div class="cp-menu">
    <div class="menu-head">
        <div class="g-container">
            <div class="logo">
                <a href="#"><img src="assets/images/white-logo.png" alt=""></a>
            </div>
            <span class="close-btn">
                <span class="icon icon-close">
                </span>
            </span>
        </div>
    </div>
    <div class="menu-list">
        <div class="menu-col ministry">
            <div class="nav-wrap">
                <h2 class="nav-title">MINISTRY</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Vision & Mission</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Strategy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Leadership</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Alliances</a>
                    </li>
                    <li class="nav-item bot-mar">
                        <a href="#" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Media Center</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Press</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col forces">
            <div class="nav-wrap">
                <h2 class="nav-title">FORCES</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">The Presidency of the Staff</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Joint Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Land Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Air Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Naval Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Air Defence Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Strategic Missiles Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Military Industries Corporation</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col service">
            <div class="nav-wrap">
                <h2 class="nav-title">eSERVICES</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Pre-Enlistees</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Enlisted Personel</a>
                    </li>
                    <li class="nav-item bot-mar">
                        <a href="#" class="nav-link">Civilian Personel</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Parents</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Employers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Suppliers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col career">
            <div class="nav-wrap">
                <h2 class="nav-title">CAREERS</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Working at the MoD</a>
                    </li>
                    <li class="nav-item bot-mar">
                        <a href="#" class="nav-link">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Create Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>