<!-- build:css assets/css/libraries.css -->
<link rel="stylesheet" type="text/css" href="assets/css/libraries/swiper.5.2.1.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/libraries/wow.1.3.0.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/libraries/skrollr.0.6.30.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/libraries/bootstrap.css">
<!-- endbuild -->
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/css/icon.css">
<link rel="stylesheet" type="text/css" href="assets/css/font.css">
<link rel="stylesheet" type="text/css" href="assets/css/custom.css">