<!-- build:js assets/js/vendor.js -->
<script src="assets/js/libraries/jquery-3.1.1.min.js"></script>
<script src="assets/js/libraries/swiper.5.2.1.min.js"></script>
<script src="assets/js/libraries/skrollr.0.6.30.min.js"></script>
<!-- endbuild -->

<script src="assets/js/custom.js"></script>