<div class="cp-menu">
    <div class="menu-list">
        <div class="menu-col ministry">
            <div class="nav-wrap">
                <h2 class="nav-title">MINISTRY</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Vision & Mission</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Strategy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Leadership</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Alliances</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News</a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Media Center</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Press</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col forces">
            <div class="nav-wrap">
                <h2 class="nav-title">FORCES</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">The Presidency of the Staff</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Joint Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Land Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Air Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Naval Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Air Defence Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Royal Saudi Strategic Missiles Forces</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Military Industries Corporation</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col service">
            <div class="nav-wrap">
                <h2 class="nav-title">eSERVICES</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Pre-Enlistees</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Enlisted Personel</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Civilian Personel</a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Parents</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Employers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Suppliers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-col career">
            <div class="nav-wrap">
                <h2 class="nav-title">CAREERS</h2>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Working at the MoD</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Jobs</a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Create Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>